.name{
    margin-right: 730px;
    font-style: italic;
    color: rgb(89, 84, 84);
}
.baground{
    background-color: rgb(169, 123, 100);
}
.photo{

    float: right;
    margin-right: 10cap;
    border-radius: 150px;
}
.colour{
    color: red;
}
#nav a{
    
    margin: 0px 5px 0px 5px;
    text-decoration: dashed;
    color: black;
    padding: 15px;
    font-size: 20px;
    border-top: 4px solid;
}
.about{
    text-align: center;
    padding: 20px;
    color: black;
    display: flex;
    align-items: center;
}
#nav a:hover{
    color: rgb(0, 84, 253);
    /* border: 30px;
    border-color: blue; */
}
.mar{
    margin-left: 28px;
    background-image: url("https://images.unsplash.com/photo-1601662528567-526cd06f6582?w=1200&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8cHJvZmVzc2lvbmFsJTIwYmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D")
}

h2 span{
    text-align: center;
     float: left;
    display: inline-flex;
    color: blue;

}
h2 span:nth-child(even){
    overflow: hidden;
    transition: ease-in-out 0.5;
    color: black;
    letter-spacing: -1em;
}
h2:hover span:nth-child(even){
    letter-spacing: 0;
}
 @media(max-width:768px){
   header #nav{
    float: none;
    text-align: center;
    width: 100%;
   }
   header{
    padding: 30px;
   }
} 